@model Category

<div class="text-center">
    <div>
    <form asp-action="CreateCategory" asp-controller="Home">
    <label asp-for="CategoryName"></label> 
    <span asp-validation-for="CategoryName"></span>
    <input asp-for="CategoryName">
    <br>
    <button type="submit">Add Category</button>
        </form>
    </div>
</div>
