@model List<Category>
<h1 class="text-center">Categories view</h1>
<div class="col-md">@await Html.PartialAsync("_CatForm", new Category())</div>
<div class="col-md">@await Html.PartialAsync("_CatView", @Model)</div>


