@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <a asp-controller="Dish" asp-action="NewDish">Create New Post</a>
  <a asp-controller="Chefs" asp-action="NewChef">Create New Chef</a>
</div>

