@model DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Welcome, @Context.Session.GetString("Name")!</h2>

<p>Current Value:  @Context.Session.GetInt32("Value")</p>

<form method="post" asp-action="Dashboard" asp-model="Model">
    <button type="submit" name="Operation" value="+">+ 1</button>
    <button type="submit" name="Operation" value="-">- 1</button>
    <button type="submit" name="Operation" value="x">x 2</button>
    <button type="submit" name="Operation" value="random">Random</button>
    <br />
    <button type="submit" name="Operation" value="logout">Log out</button>
</form>
