@{
    ViewData["Title"] = "Home Page";
}

<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form asp-controller="Home" asp-action="CreateWithSession" method="post">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
