@model LoginUser

<h1 class="text-center">Login</h1>
<hr />

<form asp-action="Login" asp-controller="Home" method="POST">
  <div class="mb-3">
    <label asp-for="Email"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="Email"
    ></span>
    <input class="form-control" asp-for="Email">
  </div>
  <div class="mb-3">
    <label asp-for="LoginPassword"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="LoginPassword"
    ></span>
    <input class="form-control" asp-for="LoginPassword" value="password" placeholder="Password">
  </div>

  <button class="btn btn-outline-success">Login</button>
</form>

