* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

form {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

table,
h2 {
  margin: 20px;
}
textarea.textarea {
  margin-left: 10px;
  margin-bottom: 20px;
}

.button {
  margin: auto 0;
  width: 90px;
  height: 40px;
  box-shadow: 2px 5px;
  background-color: rgb(250, 0, 0);
  font-size: 20px;
  color: white;
}

textarea {
  resize: none;
}

textarea,
input,
select {
  border-radius: 200px;
  padding: 3px;
}
option,
select {
  width: 200px;
}
