@model Post

<h1 class="card-title text-center bg-dark text-light py-2 rounded-top">@Model.Title</h1>
<h3 class="card-title text-center bg-dark text-light py-2 rounded-top">@Model.Body</h3>
<img src="@Model.ImgUrl" alt="related to post" class="card-img-bottom">

<form asp-controller="Home" asp-action="DeletePost" asp-route-postId="@Model.PostId" method="POST">

<button class="btn btn-primary btn-danger">Delete</button>

</form>


